<%= form_for(@message) do |f| %>
<%= f.text_field :subject, :placeholder => 'Subject', :class => 'span6' %><br />
    <%= f.text_area :content, :placeholder => 'Type your message here...', :class => 'span6' %>
  <div class="actions">
    <%= f.submit nil, :class => 'btn' %>
  </div>
<% end %>
