<ul class="pager">
  <li class="previous">
    <%= link_to raw("&larr; Back to Messages"), messages_url %>
  </li>
</ul>
<div id="message_content_border">
  <div id="message_content_box">
		<h1 class="ribbon-left">Editing Discussion Topic</h1>
			<%= render 'form' %>			
		<br />
	</div>
</div>
