<div id="message_content_border">
  <div id="message_content_box">
	  	<% if can? :create, Message %>
			<%= link_to 'Start a new discussion', new_message_path, :class => 'btn pull-right' %>
		<% end %>
		<h1 class="ribbon-left">Discussions</h1>

		<table class="table messages">
			<%= render @messages.reverse %>
		</table>
	</div>
</div>
	
