<ul class="pager">
	<% unless @group %>
	  <li class="previous">
	    <%= link_to raw("&larr; Back to Messages"), messages_url %>
	  </li>
	<% end %>
</ul>
<div id="message_content_border">
  <div id="message_content_box">
		<% if browser.ie8? %>
      <h1><i class="icon-comment"></i> New Discussion Topic:</h1>
      <br>
    <% else %>
	    <h1 class="ribbon-left">New Discussion Topic</h1>
    <% end %>
			<%= render 'form' %>			
		<br />
	</div>
</div>