<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= link_to @post.title.html_safe, post_url(@post) %></h1>
    <%= @post.body.split('[---MORE---]').first.html_safe + " ..." %><b><%= link_to 'continued', post_url(@post) %></b>
  </body>
</html>