<% content_for :adminbar do %>
	<ul>
		<li>
	      <%= link_to permissions_group_path(@group) do %>
	      <i class="icon-sitemap"></i><br><p>Group <br>Permissions</p>
	      <% end %>
	    </li>
	</ul>

<% end %>

<table class="table table-bordered table-striped">
	<tbody>
	<h2>Co-Chairs</h2>
	<hr>
<% @co_chairs.each do |person| %>
	<%= sticker_for(person, :class => 'sticker-columns') %>
<% end %>
	
	<h2>Coordinators</h2>
	<hr>
<% @coordinators.each do |person| %>
	<%= sticker_for(person, :class => 'sticker-columns') %>
<% end %>
	
	<h2>Participants</h2>
	<hr>
<% @participants.each do |person| %>
	<%= sticker_for(person, :class => 'sticker-columns') %>
<% end %>
</tbody>
</table>
	