<h1>Comments</h1>  
  
<ul id="comments">  
  <% @comments.each do |comment| %>  
    <li><%= comment.content %></li>  
  <% end %>  
</ul>  
  
<h2>New Comment</h2>  
<%= form_for [@commentable, Comment.new] do |form| %>  
      <%= form.text_area :content, :rows => 5, :class => 'span6' %><br />
    <%= submit_tag "Add comment", :class => 'btn' %>
<% end %>  
