<div class="row-fluid">
  <div id="content" class="span12">

    <ul class="breadcrumb">
      <li><a href="#">Directory</a> <span class="divider">/</span></li>
      <li class="active"><a href="/people">People</a></li>
    </ul>
    
    <%= render :partial => 'list', :object => @people %>

    <br />
 </div>
</div>