<div class="row-fluid">
  <div class="hero-unit span6">
    <h1>Basic (Free)</h1>
    <p>
     <ul>
        <li>Access to select articles and other content develop by the CCRO</li>
        <li>Monthly digest email</li>
        <li>Participate in selected CCRO sponsored surveys</li>
      </ul>
    <p>
      <%= link_to "Get started &nbsp;&rarr;".html_safe, basic_signups_path,  :class => "btn btn-success btn-large" %>
    </p>
  </div>
  <div class="hero-unit span6 ">
    <h1>Pro ($75/mo)</h1>
    <p>
    <ul>
      <li>All benefits included with basic subscriber access plus:</li>
      <li>Access to all articles and other content developed specifically for Pro subscribers</li>
      <li>Early access to select articles before released to the other subscribers</li>
      <li>Monthly Risk Chief newsletter - summarizing the CCRO’s priority topics</li>
      <li>Participate in and view real-time reports from CCRO sponsored surveys</li>
      <li>Discounted CCRO White Paper access</li>
    </ul>
    <p>
      <%= link_to "Get started &nbsp;&rarr;".html_safe, pro_signups_path,  :class => "btn btn-success btn-large" %>
    </p>
  </div>
</div>
