<% if params[:action] == 'show'%>

  <div>
    <article id="group-<%= group.id %>">
      <p id="notice"><%= notice %></p>

      <h2>
         <%= @group.name %>
      </h2>
      <div style="background-color: #fff; padding: 10px; border: 1px solid grey; box-shadow: 2px 2px 6px lightgrey;"><%= Page.find(18).body.html_safe %></div>
    </article>
  </div>

<% end %>
