<% if params[:action] == 'show'%>

  <div>
    <article id="group-<%= group.id %>">
      <p id="notice"><%= notice %></p>

      <h2>
         <%= @group.name %>
      </h2>
    </article>
  </div>

<% end %>
