<% if browser && browser.ie? %>
  <div style="height: 180px; padding: 0px 200px 0px 200px; background-color: #FAFF88; border-bottom: 1px solid gold;">
    <table cellspacing="10">
      <tr>
        <td style="vertical-align: middle;"><i class="icon-warning-sign" style="font-size:125px; color: gold;"></i></td>
        <td width="20"></td>
        <td style="vertical-align: middle;">
          <h3 style="padding-top: 25px;">You're experience may not be the best due to an unsupported browser.</h3>
          <p>The CCRO likes to practice what it preaches! - so our web developers use today's software industry best practices. Our website is highly interactive and requires a modern browser that supports new technologies such as HTML5, CSS 3, and Javascript. You are using an unsupported browser. To assist our members we have supplied several alternatives on our <a style="text-decoration: underline;" href="/unsupported_browser">help page</a>. If you need any assistance you, or a member of your IT staff, can contact us at 281-825-4870.<p>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="text-align:center;"><a style="text-decoration: underline;" href="/static/summit"><h1>Click here for Summit information formated for your browser</h1></a></td>
      </tr>
    </table>
  </div>
<% end %>