<style>
@media print {
  body * {
    display: none;
  }

  #print-message * {
    display: inline;
  }
  #print-message {
    position: absolute;
    top: 350px;
    left: 0px;
    font-size: 2em;
    text-align: center;
    line-height: 1.5em;
    display: inline;
  }
}
</style>
<div id="print-message" class="hide">
  <center>
    <% if @attachment.downloadable? && can?(:download, @attachment) %>
    <p>
      This document must be downloaded before it can be printed. Please download this document by pressing the download/print button as shown below. The Button can be found on the top left of the page.<br>
      <img src="https://s3.amazonaws.com/ccromembers_assets/redactor_assets/pictures/7/Screen_Shot_2013-03-18_at_9.49.40_AM-1.png" style="">
    </p>
    <% else %>
    <p style="text-align:center">
      Printing is not available for this document.<br>
      Please contact Danette Kuru at 281-825-4870 to request a copy of the document titled "<%= @attachment.title %>".
    </p>
    <% end %>
  </center>
</div>
<iframe src="https://crocodoc.com/view/<%= @session_key%>"></iframe>