<style>
@media print {
  body * {
    display: none;
  }

  #print-message * {
    display: inline;
  }
  #print-message {
    position: absolute;
    top: 350px;
    left: 0px;
    font-size: 2em;
    text-align: center;
    line-height: 1.5em;
    display: inline;
  }
}
</style>
<div id="print-message" class="hide">
  <center>
    <p>
      Printing is not available for this document.<br>
      Please contact Danette Kuru at 281-825-4870 to request a copy of the document titled "<%= @attachment.title %>".
    </p>
  </center>
</div>
<iframe src="https://crocodoc.com/view/<%= @session_key%>"></iframe>