<style>
body { background-color: #000;}
</style>
<center>
<table cellspacing="10" width="800">
<tr>
	<td colspan="3" align="center"><%= image_tag 'ccro_long.png', :width => 400 %></td>
</tr>
<tr>
	<td colspan="3"><img src="https://s3.amazonaws.com/ccromembers_assets/uploads/mercury/image/image/538/summit-invite-banner.001.png"></td>
</tr>
<tr>
	<td><a href="https://ccro.wufoo.com/forms/ccro-risk-networking-summit-application/" target="_blank"><img src="https://s3.amazonaws.com/ccro_static/summit/agenda_but_01.png" border="0"></a></td>
	<td></td>
	<td align="right"><a href="/pages/8-summit-agenda" target="_blank"><img src="https://s3.amazonaws.com/ccro_static/summit/agenda_but_03.png" border="0"></a> <a href="https://s3.amazonaws.com/ccro_static/summit/ccro_summit_accomodations.pdf" target="_blank"><img src="https://s3.amazonaws.com/ccro_static/summit/agenda_but_04.png" border="0"></a> <a href="http://goo.gl/maps/DT7t" target="_blank"><img src="https://s3.amazonaws.com/ccro_static/summit/agenda_but_05.png" border="0"></a></td>
</tr>
<tr>
	<td colspan="3">
		<table>
			<tr>
				<td><img src="https://s3.amazonaws.com/ccromembers_assets/uploads/mercury/image/image/556/sasLogo.png" border="0"></td>
				<td width="200"></td>
				<td><img src="https://s3.amazonaws.com/ccromembers_assets/uploads/mercury/image/image/557/galwayLogo.png" border="0"></td>
			</tr>
		</table>
	</td>
</tr>
</table>

</center>