
<center>
<table cellspacing="10" width="900">
<tr>
	<td colspan="2" align="center"><img src="http://ccromembers.org/assets/ccro_long-9a98e5c333172016c15a09e56ca36b3d.png" width="400"></td>
<tr>
<tr>
	<td colspan="2" align="center">
		<h1>The browser you're using is not supported.</h1><br />
		<p>The CCRO website is highly interactive and requires a modern browser that supports new technologies such as HTML5, CSS 3, and Javascript. You are using an unsupported browser. To assist our members we have supplyed several alternatives below. If you need any assistance you, or a member of your IT staff, can contact us at 281-825-4870.</p>
		</td>
<tr>
<tr>
	<td>
		<table cellspacing="10" width="450">
			<tr>
				<td><h2>Use Google Chrome</h2><p>Otherwise, you can download Chrome to use as your browser when visiting the CCRO or other websites. This is the preferred method.</p></td>
				<td><a href="https://www.google.com/intl/en/chrome/browser/"><img src="https://s3.amazonaws.com/ccromembers_assets/uploads/mercury/image/image/563/chrome_icon.png"></a></td>
			</tr>
		</table>
	</td><td>
		<table cellspacing="10" width="450" style="border: 1px solid gold; background-color: lightyellow;">
			<tr>
				<td><a href="http://www.google.com/chromeframe/eula.html?msi=true"><img src="https://s3.amazonaws.com/ccromembers_assets/uploads/mercury/image/image/562/chrome_frame_icon.png"></a></td>
				<td><h2>Use Chrome Frame</h2><p>To continue using Internet Explorer, you can install an add-on to support these technologies through Google's Chrome Frame. Use this if you are unable to install new applications on your computer.</p></td>
			</tr>
		</table>
	</td>
<tr>
<tr>
	<td colspan="2" align="center">Also supported:<br /><a href="http://mozilla-firefox.todownload.com/"><img src="https://s3.amazonaws.com/ccromembers_assets/uploads/mercury/image/image/565/fireFox_icon.png"></a> <a href="http://www.apple.com/safari/"><img src="https://s3.amazonaws.com/ccromembers_assets/uploads/mercury/image/image/564/safari_icon.png"></a></td>
<tr>
</table>
</center>