
<center>
<table cellspacing="10" width="800">
<tr>
	<td align="center"><%= image_tag 'ccro_long.png' %></td>
</tr>
<tr>
	<td align="center">
		<h1>The browser you're using is not supported.</h1><br />
		<p>The CCRO likes to practice what it preaches! - so our web developers use today's software industry best practices.
<br /><br />
Our website is highly interactive and requires a modern browser that supports new technologies such as HTML5, CSS 3, and Javascript. You are using an unsupported browser. To assist our members we have supplied several alternatives below. If you need any assistance you, or a member of your IT staff, can contact us at 281-825-4870.</p>
		</td>
</tr>
<tr>
	<td height="50"><br /></td>
</tr>
<tr>
	<td>
		<table cellspacing="10"  width="800" style="border: 1px solid green; background-color: lightgreen;">
			<tr>
				<td><a href="https://www.google.com/intl/en/chrome/browser/"><img src="https://s3.amazonaws.com/ccromembers_assets/uploads/mercury/image/image/563/chrome_icon.png"></a></td>
				<td><h2>Best: Google Chrome</h2><p>You can download Chrome, by clicking the logo to the left, to use as your browser when visiting the CCRO or other websites. This is the preferred method. Chrome is free to download, install, and use.</p></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<table  width="800" cellspacing="10">
			<tr>
				<td><h2>Better: Mozilla Firefox</h2><p>"Your online security is Firefox's top priority. Firefox is free, and made to help you get the most out of the web."</p></td>
				<td><a href="http://mozilla-firefox.todownload.com/"><img src="https://s3.amazonaws.com/ccromembers_assets/uploads/mercury/image/image/567/fireFox_icon.png" width="150"></a></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<table  width="800" cellspacing="10">
			<tr>
				<td><h2>Better: Apple Safari</h2><p>"Safari for Mac and Windows from Apple, the world's most innovative browser." Apple Safari is free to download, install, and use.</p></td>
				<td><a href="http://www.apple.com/safari/"><img src="https://s3.amazonaws.com/ccromembers_assets/uploads/mercury/image/image/566/safari_icon.png" width="150"></a></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<table  width="800" cellspacing="10" style="border: 1px solid gold; background-color: lightyellow;">
			<tr>
				<td><a href="http://www.google.com/chromeframe/eula.html?msi=true"><img src="https://s3.amazonaws.com/ccromembers_assets/uploads/mercury/image/image/562/chrome_frame_icon.png"></a></td>
				<td><h2>Good: Chrome Frame</h2><p>To continue using Internet Explorer, you can install an add-on to support these technologies through Google's Chrome Frame. Use this if you are unable to install new applications on your computer. Google Chrome Frame is free to download, install, and use.</p></td>
			</tr>
		</table>
	</td>
</tr>
</table>
</center>