
<div class="page">
  <h1 class="ribbon-left"><%= @survey.title %></h1>
  <% @survey.questions.each do |q| %>
    <div>
      <h2><%= q.prompt %></h2>
        <% if q.possible_responses %>
          <ul>
            <% q.possible_responses.each do |pr| %>
              <li><%= pr %></li>
            <% end %>
          </ul>  
        <% end %>  
    </div>
    <br>    
  <% end %>
</div>
<%= link_to "Finished with survey", surveys_path, :class => 'btn btn-large' %>

