
<div class="mercury-select-options">
  <div class="emphasized" data-class="emphasized">Emphasized</div>
  <div class="callout pull-left" data-class="callout pull-left">Callout Left</div>
  <div class="callout pull-right" data-class="callout pull-right">Callout Right</div>
  <div class="callout callout-small pull-left" data-class="callout callout-small pull-left">Callout Small Left</div>
  <div class="callout callout-small pull-right" data-class="callout callout-small pull-right">Callout Small Right</div>
  <div class="callout callout-large pull-left" data-class="callout callout-large pull-left">Callout Large Left</div>
  <div class="callout callout-large pull-right" data-class="callout callout-large pull-right">Callout Large Right</div>
</div>
