<% content_for :adminbar do %>
	<ul>
		<li><%= link_to "#modal-new-post", 'data-toggle' => "modal" do %><i class="icon-asterisk"></i><br><p>New Post</p><% end %></li>
	</ul>
<% end %>

<% if @posts.present? %>
	<%= render @posts %>
<% else %>
	<h1>You do not currently have any blog posts or news items.</h1>
<% end %>