<div class="modal-header">
  <a href="#" class="close">×</a>
  <h3><%= @person.name%></h3>
</div>
<div class="modal-body ">
    <%= @person.email %><br />
</div>
<div class="modal-footer"><%= button_to 'View Full Profile', @person, :class => 'btn-primary' %></div>
