body#blog {
  background-color: #f6f6f6;
}

body#blog .page {
  margin-top: 0 !important;
}

body#blog .page-shadow {
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 20px;
}

.post_date {
  color: #696969;
  font-size: smaller;
}

body#blog h3 {
  border: none !important;
}
body#blog h3:before {
  content: '';
}

article {
  margin-bottom: 25px;
}

header {
  margin-top: 10px;
  margin-bottom: 50px;
}

.post-footer {
  text-transform:uppercase;
}

.hr-dark {
  border-top: 1px solid #696969;
/*  border-bottom: 1px solid #dddddd;*/
}

.hr-small-margin {
  margin: 5px 0;
}

.post-footer-heading {
  color: gray;
}
article img[align=left] {
  padding: 0px 10px 10px 0px;
}

article img[align=right] {
  padding: 0px 0px 10px 10px;
}

.index_post_partial img {
  max-height: 200px;
  max-width: 200px;
}