.post_date {
  color: lightgray;
}

article {
  border-bottom: 1px solid lightgray;
  margin-bottom: 25px;
}

header {
  margin-top: 10px;
  margin-bottom: 50px;
}

article img {
  padding: 0px 10px 10px 10px;
}