// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#document_header {
    position: fixed;
    height: 100px;
    width: 958px;
    background-color: white;
    padding-top: 50px;
    margin-top: -50px;
    padding-bottom: 5px;
    box-shadow: 0 10px 20px 10px white;
    z-index: 999;
}
#document_content {
    margin-top: 150px;
}
