// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#document_header {
  position: fixed;
  height: 100px;
  width: 940px;
  background-color: #efefef;
  padding-top: 50px;
  margin-top: -50px;
  padding-bottom: 15px;
/*  box-shadow: 0 10px 20px 10px #efefef; */
  z-index: 999;
}

#document_header_wrapper {
  width: 940px;
  position: fixed;
  z-index: 999;
  
}

#document_header_wrapper.bottom-shadow {
  background: url('../images/shadow.png') no-repeat bottom;
  padding-bottom: 144px;
}
#document_header_wrapper.bottom-shadow > #document_header {
  border-bottom: 1px solid #ddd;
}
#document_content {
  margin-top: 115px;
  padding: 20px;
  background-color: white;
  border: 1px solid #dddddd;
}

#document_content_border {
  background: url('../images/leaftshadow-900.png') no-repeat bottom;
  padding-bottom: 20px;
}

@media (min-width: 1200px) {
  #document_header {
    width: 1170px;
  }
}