/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-wysihtml5
 *= require 'font-awesome'
*/
body{
  margin-top: 20px;
}
/* desktop*/
.btn-large{
  width: 150px;
  height: 25px;
}

@media (max-width: 767px) { /* tablet*/
  .btn-large{
    width: 90%;
    height: 50px;
  }
}

@media (max-width: 480px) { /* phone*/
  .btn-large{
    width: 90%;
    height: 50px;
  }
}