<p><%= @billboard.title %></p>

<div class="row-fluid">
	<div class="span9">
    <div class="billboard" style="margin-top:0px; margin-bottom:20px; padding-left:15px; padding-right:15px;">
  		<%= @billboard.body.html_safe %>
    </div>
	</div>
</div>


<%= link_to 'Edit', edit_billboard_path(@billboard) %> |
<%= link_to 'Back', billboards_path %>
