<!DOCTYPE html>
<html>
<head>
  <title>CCRO</title>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <%= csrf_meta_tags %>
</head>
<body id="static">
<!--Body content (BEGIN)-->
<%= yield %>
<!--Body content (END)-->
</body>
</html>
